/* Responsive Styles */
/*for mini pc*/
@media (max-width: 1200px) {
  .Elementor-container {
    width: 100%;
  }
  .Elementor {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .container {
    margin-top: 10px;
    height: 80vh;
  }
  .Elementor-container {
    width: 95%;
    height: fit-content;
  }
  .Elementor {
    width: 45%;
  }
  .Elementor h1 {
    font-size: 2em;
    margin-bottom: 0.5rem;
  }
  .Elementor p {
    font-size: 1em;
  }
}
/*for tablet*/
@media (max-width: 920px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: none;
  }
  .hide {
    display: none;
  }
  .show {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .nav3 ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .nav3 ul li a {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 1rem;
  }
  .nav3 .login {
    text-align: left;
    border-left: 1px solid white;
    cursor: pointer;
  }
  .nav3 {
    max-height: 15rem;
    overflow-y: auto;
  }
  .nav3 .dropdown .dropdown-content {
    position: static;
  }
  .nav3 .dropdown i {
    text-align: right;
  }
  .mobile-menu {
    display: grid;
  }
  /* cart */
  #mobile-cart {
    position: relative;
    font-size: 20px;
    text-align: center;
  }
  #mobile-cart i p {
    position: absolute;
    top: -15px;
    right: 2.5rem;
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
  }
  #cart {
    display: none;
  }
  .container {
    margin-top: 0px;
    min-height: 80vh;
  }
  .Elementor {
    width: 50%;
    height: fit-content;
    padding: 2rem;
  }
  .Elementor h1 {
    font-size: 2em;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0px;
    min-height: 100vh;
    padding: 2rem;
  }
  .Elementor-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  .Elementor {
    position: relative;
    width: 100%;
    height: fit-content;
    border: border-box;
    padding: 1rem;
  }
  .Elementor p {
    font-size: 1em;
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
  }
}
@media (max-width: 520px) {
  .services {
    grid-template-columns: 1fr;
  }
}
