* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(62, 62, 238);
  color: white;
  padding: 10px 5rem;
}

.nav1 .logo {
  font-size: 1em;
  font-weight: 300;
}

.nav1 .nav-links {
  list-style: none;
  display: flex;
}

.nav1 .nav-links li {
  margin-left: 20px;
}

.nav1 .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.nav1 .nav-links a:hover {
  color: rgb(95, 238, 130);
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5rem;
  background-color: rgb(81, 81, 248);
}
.nav2 a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
.nav2 .search {
  position: relative;
}
.nav2 input {
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.nav2 .search img {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.nav3 {
  display: grid;
  border-top: 1px solid rgba(13, 76, 194, 0.733);
  grid-template-columns: 1fr 7fr 1fr;
  background-color: rgb(81, 81, 248);
  padding: 20px;
}
.nav3 .dropdown {
  color: white;
  cursor: pointer;
  position: relative;
}
.hide-ul {
  display: none;
}
.show-ul {
  display: block;
}
.nav3 .dropdown .dropdown-content {
  position: absolute;
  text-align: left;
  background-color: rgb(81, 81, 248);
  width: 15rem;
  top: 100%;
  left: 10px;
  z-index: 1;
}
.nav3 .dropdown-content a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: left;
  padding: 1rem 1rem 0.5rem 1rem;
  font-weight: bold;
}
.nav3 .dropdown i {
  margin: 0 10px;
}
.nav3 .login {
  text-align: center;
  border-left: 1px solid white;
  cursor: pointer;
}
.nav3 a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav3 ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.nav3 ul li {
  list-style: none;
  text-align: center;
}

.mobile-menu {
  display: none;
  padding: 20px 0;
  background-color: rgb(81, 81, 248);
  grid-template-columns: 3fr 1fr;
}
.mobile-menu .menu i {
  font-size: 1em;
  margin: 0px 20px;
  color: white;
  cursor: pointer;
}
.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
/* cart */
#cart {
  position: relative;
  font-size: 20px;
  text-align: center;
}
#cart i p {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
/*navbar end*/
/*main start*/
main {
  height: fit-content;
  width: 100%;
  background-color: #f7fbfc;
}
.container {
  height: 100vh;
  width: 100%;
  background: url("./pic/electronic-store-hero.jpg") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Elementor-container {
  width: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: fit-content;
}
.Elementor {
  width: 30%;
  height: fit-content;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.Elementor h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.8;
}
.Elementor p {
  font-size: 1.2em;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.8;
}
.Elementor a {
  text-decoration: none;
  color: rgb(23, 56, 243);
  font-weight: bold;
  opacity: 0.8;
}
/*service section start*/
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: -30px 4rem 0px 4rem;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.services .service {
  display: grid;
  grid-template-columns: 1fr 11fr;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}
.services .service i {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(65, 12, 189);
  font-weight: bold;
  opacity: 0.8;
}
.services .service h3 {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  opacity: 0.8;
}
.services .service p {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.8;
}
/*products-1 start*/
.products-1 ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(255, 255, 255);
  margin: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.products-1 ul li {
  list-style: none;
  margin: 0 0 16px;
}
.products-1 ul li a {
  position: relative;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.products-1 ul li a img {
  width: 100%;
  height: 100%;
}
.products-1 ul li a h3 {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*products-section2*/
.products-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
  gap: 1rem;
}
.products-section2 img {
  width: 100%;
  height: 100%;
}
/*best-deal-products*/

.best-deal-product .best-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 4rem;
  padding: 1.5rem;
  background-color: royalblue;
}
.best-deal-product .best-products .product-img {
  position: relative;
}
.best-deal-product .best-products .product-img p {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgb(3, 0, 0, 0.6);
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.best-deal-product .best-products .product-img i {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  color: rgb(3, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}
.best-deal-product .best-products a {
  height: 50%;
  width: 100%;
}
.best-deal-product .best-products a img {
  width: 100%;
  height: 100%;
}
.best-products .product .product-info {
  padding: 1rem;
}
.best-products .product .product-info i {
  font-size: 15px;
  color: rgb(223, 226, 59);
  margin: -2px;
}
.best-products .product .product-info h3 {
  margin-top: 0.5rem;
  text-decoration: none;
}
